<div class="container">
  <h1>サーバー情報</h1>
  <ul>
    <li>
      <b>バージョン:</b> {{ Version }}<br />このサーバーで稼働している PixivFE のバージョン
    </li>
    <li>
      <b>PixivFE 起動時刻（UTC）</b>: {{ Time }} <br />このサーバーで PixivFE が起動した日時
    </li>
    <li>
      <b>Base URL</b>: {{ if isset(BaseURL) and !BaseURL == "localhost" }} {{
      BaseURL }} <br />
      埋め込み用のメタタグが利用できます {{ else }} 未設定 <br />
      メタタグが利用できないため、埋め込みが動作しない可能性があります {{ end }}
    </li>
    <li>
      <b>デフォルト画像プロキシサーバー</b>: {{ ImageProxy }}<br />このサーバーに設定されている既定の画像プロキシです。i.pximg.net の画像をプロキシするために使用されます。
    </li>
    <li>
      <b>Accept-Language ヘッダー</b>: {{ AcceptLanguage }}<br />このサーバーが Pixiv の API にリクエストする際に使用する Accept-Language ヘッダーの値です。
    </li>
  </ul>
  <p></p>
</div>
