<div class="container">
  {{ if Token }}
  <div class="switcher">
    <span class="switch-title">フィルター</span>
    <a href="/?mode=all" class="switch-button">すべて</a>
    <a href="/?mode=r18" class="switch-button">R-18</a>
  </div>
  <div class="component-header">
    <h2>フォロー中ユーザーの新着作品</h2>
    <a href="/self/following_works">もっと見る</a>
  </div>
  <div class="artwork-container-scroll">
    {{ include "components/small-tn" Artworks.Following }}
  </div>
  <br />
  <h2>最近完了したコミッション</h2>
  <div class="artwork-container">
    {{ include "components/small-tn" Artworks.Commissions }}
  </div>
  <br />
  <h2>おすすめ作品</h2>
  <div class="artwork-container">
    {{ include "components/small-tn" Artworks.Recommended }}
  </div>
  <br />

  <div class="component-header">
    <h2>デイリーランキング</h2>
    <a href="/ranking">もっと見る</a>
  </div>
  <div class="artwork-container-scroll">
    {{ range rank := Artworks.Rankings }}
    <div class="artwork-large artwork">
      <div class="artwork-additional">
        <div class="artwork-position">{{ rank + 1 }}</div>

        {{ if .Pages > 1 }}
        <div class="artwork-page-count">
          <span class="boxbox"> &boxbox;&nbsp; </span>
          <span>2</span>
        </div>
        {{ end }}
      </div>
      <a href="/artworks/{{ .ID }}">
        <img src="{{ .Thumbnail }}" alt="{{ .Title }}" />
      </a>

      <div class="artwork-title">
        <a href="/artworks/{{ .ID }}"> {{ .Title }} </a>
      </div>
      <div class="artwork-author">
        <a href="/users/{{ .ArtistID }}">
          <img
            src="{{ .ArtistAvatar }}"
            alt="{{ .ArtistName }}"
            class="artwork-thumbnail-artist-avatar border-rounded"
          />
          <span>{{ .ArtistName }}</span></a
        >
      </div>
    </div>
    {{ end }}
  </div>
  <br />

  <!-- <h2>Pixivision</h2>
  <div class="thumbnail-container">
    {{ range Artworks.Pixivision }}
    <a href="{{ .URL }}" class="spotlight-thumbnail">
      <img
        src="{{ .Thumbnail }}"
        alt="{{ .Title }}"
        class="spotlight-master-image"
      />
      <div class="spotlight-title-wrapper">
        <h2 class="spotlight-title">{{ .Title }}</h2>
      </div>
    </a>
    {{ end }}
  </div>
  <br /> -->

  <h2>おすすめユーザーの作品</h2>
  <div class="artwork-container">
    {{ include "components/small-tn" Artworks.Users }}
  </div>
  <br />
  {{ range Artworks.RecommendByTags }}
  <h2>#{{.Name}} のおすすめイラスト</h2>
  <div class="artwork-container">
    {{ include "components/small-tn" .Artworks }}
  </div>
  <br />
  {{ end }}
  <h2>新着作品</h2>
  <div class="artwork-container-scroll">
    {{ include "components/small-tn" Artworks.Newest }}
  </div>
  {{ else }}
  <p>より多くの機能にアクセスするには <a href="/login">ログイン</a> してください！</p>
  <p>
    このフロントエンドはいかがですか？ UI 改善のために、ご意見やアイデアを募集しています。
    <a href="https://codeberg.org/VnPower/pixivfe/issues/21">こちら</a> から共有してください！
  </p>
  <div class="component-header">
    <h2>デイリーランキング</h2>
    <a href="/ranking">もっと見る</a>
  </div>
  <div class="artwork-container-scroll">
    {{ range rank := Artworks.Rankings }}
    <div class="artwork-large artwork">
      <div class="artwork-additional">
        <div class="artwork-position">{{ rank + 1 }}</div>

        {{ if .Pages > 1 }}
        <div class="artwork-page-count">
          <span class="boxbox"> &boxbox;&nbsp; </span>
          <span>2</span>
        </div>
        {{ end }}
      </div>
      <a href="/artworks/{{ .ID }}">
        <img src="{{ .Thumbnail }}" alt="{{ .Title }}" />
      </a>

      <div class="artwork-title">
        <a href="/artworks/{{ .ID }}"> {{ .Title }} </a>
      </div>
      <div class="artwork-author">
        <a href="/users/{{ .ArtistID }}">
          <img
            src="{{ .ArtistAvatar }}"
            alt="{{ .ArtistName }}"
            class="artwork-thumbnail-artist-avatar border-rounded"
          />
          <span>{{ .ArtistName }}</span></a
        >
      </div>
    </div>
    {{ end }}
  </div>
  <br />

  <!-- <h2>Pixivision</h2>
  <div class="thumbnail-container">
    {{ range Artworks.Pixivision }}
    <a href="{{ .URL }}" class="spotlight-thumbnail">
      <img
        src="{{ .Thumbnail }}"
        alt="{{ .Title }}"
        class="spotlight-master-image"
      />
      <div class="spotlight-title-wrapper">
        <h2 class="spotlight-title">{{ .Title }}</h2>
      </div>
    </a>
    {{ end }}
  </div>
  <br /> -->

  {{ end }}
</div>
