<div class="container">
  <h2>アカウントでログイン</h2>
  <p>
    トップページ（ランディングページ）やその他の機能を有効にするには、ログインする必要があります。
  </p>
  <p>
    注（2023/08/15）: 現時点で利用できる機能はトップページ（ランディングページ）のみです。
  </p>
  <p>
    ログインはアカウントの Cookie を使って行います。取得方法は
    <a
      href="https://codeberg.org/VnPower/pixivfe/wiki/How-to-get-the-cookie-%28PIXIVFE_TOKEN%29"
      >こちらのページ</a
    >
    を参照してください。
  </p>
  <p>
    サーバーが更新されるたびに自動的にログアウトされます。以前ログインできていたのに最近ログアウトされた場合、インスタンス管理者がサーバーを再起動した可能性があります。
  </p>
  <form action="/settings/token" method="post">
    <input type="text" name="token" autocomplete="off" />
    <input type="submit" value="適用" />
  </form>
  <hr />
  <h2>ログアウト</h2>
  <p>
    ここから安全にログアウトできます。このボタンは、このセッションからトークンを削除するだけです。
  </p>
  <form action="/settings/logout" method="post">
    <input type="submit" value="ログアウト" />
  </form>
</div>
